<!doctype html>

 <html lang="en"> 
    <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
    <title>Quotes</title>
    </head>

    <body>
        <div class="container">
            <br>
        <h5><a href="/quotes">Dashboard</a> | <a href="/logout">Logout</a></h5>
        <div class="text-center">
            <h2>{{user.alias}}'s Favorite Quotes</h2>
            <h5>Count: {{user.joined_users.all.count}}</h5>
        </div>
            {% for quote in favorites %}
                <p><strong>{{quote.author_name}}: </strong>{{quote.message}}</p>
            {% endfor %}
        </div>
    </body>
</html>