<!doctype html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
    <title>My Wish List</title>
    <style>
        table {
            border:black solid 1px;
        }
    </style>
</head>

<body>
    <div class="container">
        <br>
    <h5><a href="/logout">Logout</a></h5>
    <h2>Hello, {{ request.session.first_name }}!</h2>
    <div class="text-center">
        <h4><a href="/wish_items/create">Add Item</a></h4>
        <h3>Your Wish List</h3>
    </div>
    <div id="table1">
    <table class="table table-bordered table-striped table-hover">
        <thead>
            <th>Item</th>
            <th>Added by</th>
            <th>Date Added</th>
            <th>Action</th>
        </thead>
        <tbody>
            {% for Thing in joined %}
            <tr>
                <td><a href="/wish_items/{{Thing.id}}">{{Thing.item_name}}</a></td>
                <td>{{Thing.created_by.first_name}} {{Thing.created_by.last_name}}</td>
                <td>{{Thing.created_at}}</td>
                <td><a href="remove/{{Thing.id}}">Remove from my Wishlist</a></td>
            </tr>
            {% endfor %}
            {% for Stuff in created %}
            <tr>
                <td><a href="/wish_items/{{Stuff.id}}">{{Stuff.item_name}}</a></td>
                <td>{{Stuff.created_by.first_name}} {{Stuff.created_by.last_name}}</td>
                <td>{{Stuff.created_at}}</td>
                <td><a href="delete/{{Stuff.id}}">Delete</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    </div>
    <br>
    <div class="text-center">
        <h3>Other Users' Wish List</h3>
    </div>
    <div id="table2">
    <table class="table table-bordered table-striped table-hover">
        <thead>
            <th>Item</th>
            <th>Added by</th> 
            <th>Date Added</th>
            <th>Action</th>
        </thead>
        <tbody>
            
            {% for Object in all %}
            
            <tr>
                <td><a href="/wish_items/{{Object.id}}">{{Object.item_name}}</a></td>
                <td>{{Object.created_by.first_name}} {{Object.created_by.last_name}}</td>
                <td>{{Object.created_at}}</td>
                <td><a href="/mylist/{{Object.id}}">Add to my Wishlist</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    </div>
    </div>
</body>
</html> 